/* control left margin */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  /*transform: scale(0.95);*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

body {
  margin: 0.5vw;
  background-color: hsl(302, 10%, 99%);
  font-family: Helvetica, sans-serif;
  font-size: 3vw;
  color: hsl(302, 10%, 99%);
}

main {
  width: 99vw; /* 100 - (body margin * 2) */
  height: 56.25vw; /* 16:9 */
}

button {
  border: none;
  color: hsl(302, 10%, 99%);
  background-color: hsl(0, 0%, 75%);
  border-radius: 1vw;
  font-size: 1em;
  background-size: 8vw;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0%; /* force iOS button width */
}

main #chordMenu {
  float: right;
  width: 84vw;
}

main.tall #chordMenu {
  font-size: 8vw;
}

main.grande #chordMenu {
  font-size: 8vw;
}

main.venti #chordMenu {
  font-size: 13vw;
}

main.trenta #chordMenu {
  font-size: 15vw;
}

#chordMenu button {
  height: 28vw;
}

#chord1 {
  width: 45%;
  background-color: hsl(23, 100%, 49%);
  border-bottom-right-radius: 0;
}

#chord1.on {
  background-color: hsl(23, 100%, 39%);
}

#chord2 {
  width: 20%;
  background-color: hsl(39, 100%, 49%);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#chord2.on {
  background-color: hsl(39, 100%, 39%);
}

#chord3 {
  width: 35%;
  background-color: hsl(57, 100%, 50%);
  border-bottom-left-radius: 0;
}

#chord3.on {
  background-color: hsl(57, 100%, 40%);
}

#chord4 {
  width: 35%;
  background-color: hsl(302, 58%, 36%);
  border-top-right-radius: 0;
}

#chord4.on {
  background-color: hsl(302, 58%, 26%);
}

#chord5 {
  width: 40%;
  background-color: hsl(324, 100%, 46%);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#chord5.on {
  background-color: hsl(324, 100%, 36%);
}

#chord6 {
  width: 25%;
  background-color: hsl(340, 86%, 50%);
  border-top-left-radius: 0;
}

#chord6.on {
  background-color: hsl(340, 86%, 40%);
}

#modifierMenu {
  float: left;
  width: 15vw;
  font-size: 5vw;
}

#modifierMenu button {
  width: 14.5vw;
  height: 13.65vw;
  border-radius: 0;
  margin-top: .5vw;
}

button.on {
  background-color: hsl(196, 100%, 47%);
  border: none;
}

#modifierMenu button:active {
  background-color: hsl(196, 100%, 47%);
}

#modifierMenu button.on {
  background-color: hsl(196, 100%, 47%);
}

button:active {
  background-color: hsl(196, 100%, 37%);
}

#special.on {
  color: hsl(57, 100%, 50%);
}

#modifierMenu button:first-child {
  border-radius: 1vw 1vw 0 0;
  margin-top: 0;
}

#modifierMenu button:last-child {
  border-radius: 0 0 1vw 1vw;
  border-bottom: none;
}

#ampSliders {
  background-color: hsl(302, 58%, 36%);
  border-bottom-right-radius: 0;
  float: left;
}

#cutoffSliders {
  background-color: hsl(340, 86%, 50%);
  border-bottom-left-radius: 0;
}

#oscSliders {
  background-color: hsl(324, 100%, 46%);
  width: 100vw;
  height: 10vw;
}

#ampSliders, #cutoffSliders {
  width: 46vw;
  height: 30vw;
  display: inline-block;
  padding: 2vw;
}

.sliderPanel > div {
  height: 5vw;
  display: inline-block;
}

.sliderPanel {
  border-radius: 1vw;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: hsl(0, 0%, 75%);;
    width: 20vw;
    height: 2.2vw;
    border-radius: 1vw;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: hsl(302, 10%, 99%);
    border: none;
    border-radius: 2vw;
    width: 4vw;
    height: 4vw;
}

input:focus {
  outline: none;
}

.gray {
  color: hsl(0, 0%, 75%);
}

.name {
  width: 10vw;
  text-align: right;
  padding-right: 1vw;
  float: left;
}

.value {
  width: 10vw;
  text-align: left;
  padding-left: 1vw;
  float: right;
}

#waveformMenu button {
  width: 19.5vw;
  height: 10vw;
  border-radius: 0;
  margin-left: .5vw;
}

#waveformMenu button:first-child {
  border-radius: 0 0 0 1vw;
  margin-left: 0;
  margin-right: -.8vw; /* TODO: why this negative margin? */
}

#waveformMenu button:last-child {
  border-radius: 0 0 1vw 0;
}

button.settings {
  background-image:url('./img/gear.svg');
}

#sineButton {
  background-image: url('./img/sineWave.svg');
}

#squareButton {
  background-image: url('./img/squareWave.svg');
}

#triangleButton {
  background-image: url('./img/triangleWave.svg');
}

#sawtoothButton {
  background-image: url('./img/sawWave.svg');
}

.hidden {
  display: none;
}
