html {
    margin: 1%;
}

body {
    font-family: Helvetica, sans-serif;
}

body #chordMenu {
    line-height: 120px;
}

body.tall #chordMenu {
    font-size: 35%;
}

body.grande #chordMenu {
    font-size: 41%;
}

body.venti #chordMenu {
    font-size: 69%;
}

body.trenta #chordMenu {
    font-size: 100%;
}

button {
    color: white;
    font-size: 150%;
    border: none;
    margin-bottom: 1%;
    border-radius: 3px;
}

button:active {
    border: none;
}

select {
    display: button;
}

/*temporary fixed widths on these; make percentage-based*/

.chord1 {
    width: 32px;
    background: hsl(23, 100%, 49%);
}

.chord1:active {
    background: hsl(23, 100%, 39%);
}

.chord2 {
    width: 44px;
    background: hsl(39, 100%, 49%);
}

.chord2:active {
    background: hsl(39, 100%, 39%);
}

.chord3 {
    width: 59px;
    background: hsl(57, 100%, 50%);
}

.chord3:active {
    background: hsl(57, 100%, 40%)
}

.chord4 {
    width: 78px;
    background: hsl(302, 58%, 36%);
}

.chord4:active {
    background: hsl(302, 58%, 26%)
}

.chord5 {
    width: 58px;
    background: hsl(324, 100%, 46%);
}

.chord5:active {
    background: hsl(324, 100%, 36%)
}

.chord6 {
    width: 62px;
    background: hsl(340, 86%, 50%);
}

.chord6:active {
    background: hsl(340, 86%, 40%)
}

#modifierMenu {
    float: left;
    width: 10%
}

#modifierMenu button, #modifierMenu div {
    width: 99%;
    height: 40px;
    margin-bottom: 4%;
    text-align: center;
}

#modifierMenu button.on {
    color: white;
    background: hsl(196, 100%, 47%);
    border: none;
}

#modifierMenu button:active.on {
    background: hsl(196, 100%, 47%);
}

#modifierMenu button.on.special {
    color: hsl(57, 100%, 50%);
}

#chordMenu {
    width: 100%;
}

#chordMenu button {
    display: inline-block;
    font-size: 500%;
    margin: 2px 1px;
}

#waveformMenu button {
    width: 86px;
    height: 40px;
    border-left: 2px solid white;
    margin: none;
    padding:none;
    border-radius: 0;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}


#waveformMenu button.on {
    background-color: hsl(358, 85%, 52%);
}

#waveformMenu button:active {
    background-color: hsl(358, 85%, 42%);
}

#sine {
    background-image: url('./img/sineWave.svg');
}

#square {
    background-image: url('./img/squareWave.svg');
}

#triangle {
    background-image: url('./img/triangleWave.svg');
}

#sawtooth {
    background-image: url('./img/sawWave.svg');
}

#waveformMenu button:first-child {
    border-left: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#waveformMenu button:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}