body {
    font-family: Helvetica, sans-serif;
    line-height: 2vw;
}

main {
    background: hsl(302, 10%, 99%);
    width: 100vw;
    height: 56.25vw; /* 16:9 aspect ratio */
    margin: .5vw;
}

button {
    border: none;
    color: hsl(302, 10%, 99%);
    border-radius: 1vw;
    font-size: 1em;
}

button:active {
    border: none;
}

main #chordMenu {
    float: right;
    width: 85vw;
}

main.tall #chordMenu {
    font-size: 8vw;
}

main.grande #chordMenu {
    font-size: 9vw;
}

main.venti #chordMenu {
    font-size: 13vw;
}

main.trenta #chordMenu {
    font-size: 15vw;
}

#chordMenu button {
    height: 28.125vw;
}

.chord1 {
    width: 44%;
    background: hsl(23, 100%, 49%);
    border-bottom-right-radius: 0;
}

.chord1:active {
    background: hsl(23, 100%, 39%);
}

.chord2 {
    width: 15%;
    background: hsl(39, 100%, 49%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.chord2:active {
    background: hsl(39, 100%, 39%);
}

.chord3 {
    width: 40%;
    background: hsl(57, 100%, 50%);
    border-bottom-left-radius: 0;
}

.chord3:active {
    background: hsl(57, 100%, 40%)
}

.chord4 {
    width: 35%;
    background: hsl(302, 58%, 36%);
    border-top-right-radius: 0;
}

.chord4:active {
    background: hsl(302, 58%, 26%)
}

.chord5 {
    width: 40%;
    background: hsl(324, 100%, 46%);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.chord5:active {
    background: hsl(324, 100%, 36%)
}

.chord6 {
    width: 24%;
    background: hsl(340, 86%, 50%);
    border-top-left-radius: 0;
}

.chord6:active {
    background: hsl(340, 86%, 40%)
}

#modifierMenu {
    float: left;
    width: 15vw;
    font-size: 5vw;
}

#modifierMenu button {
    width: 14.5vw;
    height: 14.0625vw;
    border-radius: 0;
    border-top: .5vw solid hsl(302, 10%, 99%);

}

#modifierMenu button.on {
    color: hsl(302, 10%, 99%);
    background: hsl(196, 100%, 47%);
    border: none;
}

#modifierMenu button:active.on {
    background: hsl(196, 100%, 47%);
}

#modifierMenu button.on.special {
    color: hsl(57, 100%, 50%);
}

#modifierMenu button:first-child {
    border-radius: 1vw 1vw 0 0;
    border-top: none;
}

#modifierMenu button:last-child {
    border-radius: 0 0 1vw 1vw;
}

button.settings {
    font-size: 150%;
}

#waveformMenu {
    float: right;
}

#waveformMenu button {
    width: 20vw;
    height: 10vw;
    border-radius: 0;
    background-size: 8vw;
    background-position: center;
    background-repeat: no-repeat;
    border-left: .5vw solid hsl(302, 10%, 99%);
}

#waveformMenu button.on {
    background-color: hsl(358, 85%, 52%);
}

#waveformMenu button:active {
    background-color: hsl(358, 85%, 42%);
}

#waveformMenu button:first-child {
    border-radius: 1vw 0 0 1vw;
    border-left: none;
}

#waveformMenu button:last-child {
    border-radius: 0 1vw 1vw 0;
}

#sine {
    background-image: url('./img/sineWave.svg');
}

#square {
    background-image: url('./img/squareWave.svg');
}

#triangle {
    background-image: url('./img/triangleWave.svg');
}

#sawtooth {
    background-image: url('./img/sawWave.svg');
}